.vscode/
autom4te.cache/
**/*.o
**/*.out
**/*.a
**/*.deps/
**/.dirstamp
config.h.in
config.h
**/Makefile.in
**/Makefile
stamp-h1
missing
configure
config.status
config.log
compile
depcomp
INSTALL
install-sh
aclocal.m4
ar-lib

**/core.*